.user-profile:focus,
.user-profile:focus:active,
.user-profile:active {
  box-shadow: none !important;
}

.user-profile p {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 60px;
}
